.component {
    position: relative;
    display: inline-block;
    width: auto;
}

.event {
    position: absolute;
    right: 3px;
    top: 10px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.event svg {
    width: 25px;
}

.img-1 {
    border-radius: 50%;
    height: 100px;
}

.img-wrapper {
    display: table-cell;
    vertical-align: middle;

}

.text-block {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.content {
    display: table;
    vertical-align: top;
    position: relative;
    border-radius: 100px;
    width: auto;
    height: auto;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
    padding: 10px 40px 10px 10px;
    max-width: 350px;
}